<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.axing.reggie.mapper.OrderDetailMapper">

    <insert id="save">
        insert into order_detail
        values
                <foreach collection="list" item="od" separator="," >
                    (
                        #{od.id},
                        #{od.name},
                        #{od.image},
                        #{od.orderId},
                        #{od.dishId},
                        #{od.setmealId},
                        #{od.dishFlavor},
                        #{od.number},
                        #{od.amount}
                    )
                </foreach>

    </insert>

    <select id="getOrderDetailByOrderId" resultType="com.axing.reggie.domain.OrderDetail">
        select * from order_detail where order_id=#{orderId}
    </select>

</mapper>
